# Testing only. Set to true to calculate initial career matches without calling AI.
DISABLE_AI_INIT_ASSESSMENT=false
AI_BACKEND_URL=http://127.0.0.1:8000/api/ai/initial-career-assessment
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=desmap
